@model IEnumerable<BrabantPongASP.Models.Ranking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <label>Sorteer op:</label>
    <select name="sortOrder">
        <option value="">-- Maak een keuze --</option>
        <option value="name_desc">Naam (Aflopend)</option>
        <option value="name">Naam (Oplopend)</option>
        <option value="ID">ID (Oplopend)</option>
        <option value="id_desc">ID (Aflopend)</option>
    </select>
    <input type="submit" value="Sorteren" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Naam</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">ID</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RankingNaam)</td>
                <td>@Html.DisplayFor(modelItem => item.RankingId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RankingId" asp-route-sortOrder="@ViewData["CurrentSort"]">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RankingId" asp-route-sortOrder="@ViewData["CurrentSort"]">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RankingId" asp-route-sortOrder="@ViewData["CurrentSort"]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>